
a {
    color: #fff;
    outline: none;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

    a:focus,
    a:hover {
        color: #fff;
        outline: none;
        text-decoration: none;
        border-bottom-color: #fff;
    }

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
    background-color: #373737;
    color: #B3B3B3;
}

h1, h2, h3, h4 {
    color: #D9D9D9;
    -webkit-text-shadow: 0 4px 6px rgba(0,0,0,1);
    text-shadow: 0 4px 6px rgba(0,0,0,1);
}

h1 {
    font-size: 60px;
}

#body > h1 {
    margin-bottom: 50px;
}

body {
    color: #B3B3B3;
    text-align: center;
    text-shadow: 0 3px 5px rgba(0,0,0,1);
}

#post-text {
    text-shadow: 0 0px 0px rgba(0,0,0,0);
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 200px rgba(0,0,0,1);
    box-shadow: inset 0 0 200px rgba(0,0,0,1);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.inner {
    padding: 30px;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

    .masthead-nav > li + li {
        margin-left: 0px;
    }

    .masthead-nav > li > a {
        padding-right: 0;
        padding-left: 0;
        font-size: 16px;
        font-weight: bold;
        color: #fff; /* IE8 proofing */
        border-bottom: 2px solid transparent;
    }

        .masthead-nav > li > a:hover,
        .masthead-nav > li > a:focus {
            background-color: transparent;
            border-bottom-color: #a9a9a9;
        }

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

.footer-nav > li {
    display: inline-block;
}

    .footer-nav > li > a {
        padding-right: 0;
        padding-left: 0;
        font-size: 12px;
        color: #fff; /* IE8 proofing */
        color: rgba(255,255,255,.75);
        border-bottom: 1px solid transparent;
    }

        .footer-nav > li > a:hover,
        .footer-nav > li > a:focus {
            background-color: transparent;
            border-bottom-color: #a9a9a9;
            border-bottom-color: rgba(255,255,255,.25);
        }

.footer-nav > .active > a,
.footer-nav > .active > a:hover,
.footer-nav > .active > a:focus {
    color: #fff;
    color: rgba(255,255,255,.75);
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: none;
    }
}


.navigation {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(36,32,32,0.94);
    z-index: 2;
    text-align: center;
    padding: 50px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

    .navigation.is-visible {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

.menu-holder {
    min-width: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: transparent;
    padding: 1px;
    padding-left: 20px;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    transition-delay: 0.15s;
}

    .menu-holder.show {
        background: rgba(32,32,32,0.65);
    }


.scroll-menu {
    position: relative;
    top: 7%;
    left: 1%;
    -webkit-transition-property: -webkit-transform, left, opacity;
    -moz-transition-property: -moz-transform, left, opacity;
    transition-property: transform, left, opacity;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    transition-delay: 0.15s;
    text-align: left;
}

    .scroll-menu.adjust {
        /*left: 49%;*/
    }

    .scroll-menu.is-visible {
        -webkit-transform: translateX(20%);
        -moz-transform: translateX(20%);
        -ms-transform: translateX(20%);
        -o-transform: translateX(20%);
        transform: translateX(20%);
        opacity: 0;
    }

.menu {
    position: fixed;
    top: 35px;
    left: 35px;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    transition-delay: 0.6s;
    opacity: 1;
}

    .menu.is-visible {
        -webkit-transform: translateX(500%);
        -moz-transform: translateX(500%);
        -ms-transform: translateX(500%);
        -o-transform: translateX(500%);
        transform: translateX(500%);
        opacity: 0;
    }

.cover {
    padding: 0 20px;
}

    .cover .btn-lg {
        padding: 10px 20px;
        font-weight: bold;
    }

.mastfoot {
    color: #fff;
}

[class*='close-'] {
    color: #777;
    font: 20px/100% arial, sans-serif;
    position: absolute;
    right: 15px;
    text-decoration: none;
    top: 15px;
}

.close-classic:after {
    content: 'X';
}


.projects {
    position: relative;
    z-index: 1;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

    .projects.slide-out {
        -webkit-transform: translateX(-550px);
        -moz-transform: translateX(-550px);
        -ms-transform: translateX(-550px);
        -o-transform: translateX(-550px);
        transform: translateX(-550px);
    }


@media only screen and (min-width: 1200px) {
    .projects.slide-out {
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
        transform: translateX(-200px);
    }
}


.center-vertical {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.project-info {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: #242424;
    z-index: 2;
    -webkit-transform: translateX(450px);
    -moz-transform: translateX(450px);
    -ms-transform: translateX(450px);
    -o-transform: translateX(450px);
    transform: translateX(450px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
}

    .project-info > div {
        padding: 20px;
        word-wrap: break-word;
    }

    .project-info.slide-in {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        box-shadow: 0 0 200px rgba(0,0,0,1);
    }

@-webkit-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cd-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes cd-move-in {
    0% {
        -webkit-transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-move-in {
    0% {
        -moz-transform: translateX(100px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-move-in {
    0% {
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }

    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}

.round-anim {
    -moz-transition: border-radius 1s;
    -o-transition: border-radius 1s;
    -webkit-transition: border-radius 1s;
    transition: border-radius 1s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 50%;
}

    .round-anim:hover {
        border-radius: 10%;
    }


.csharpcode, .csharpcode pre {
    font-size: small;
    color: #fff;
    font-family: Consolas, "Courier New", Courier, Monospace;
    background-color: #303030;
}

    .csharpcode pre {
        margin: 0em;
    }

    .csharpcode .rem {
        color: #1f9f1a;
    }

    .csharpcode .kwrd {
        color: #3a75b5;
    }

    .csharpcode .str {
        color: #c66737;
    }

    .csharpcode .op {
        color: #0000c0;
    }

    .csharpcode .preproc {
        color: #cc6633;
    }

    .csharpcode .asp {
        background-color: #ffff00;
    }

    .csharpcode .html {
        color: #fff;
    }

    .csharpcode .attr {
        color: #659be6;
    }

    .csharpcode .alt {
        background-color: #f4f4f4;
        width: 100%;
        margin: 0em;
    }

    .csharpcode .lnum {
        color: #606060;
    }
