﻿html, body, .container-fluid {
	height: 100%;
	font-family: "Droid Sans","Open Sans", Helvetica, Arial, sans-serif !important;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Signika","Droid Sans",  "Open Sans", Helvetica, Arial, sans-serif !important;
}


.first-quarter {
	position: relative;
	top: 25%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.bottom {
	position: absolute;
	bottom: 0%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.center-vertical {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

a {
	/*color: #7A7A7A !important;*/
}

	a:hover {
		outline: none !important;
		text-decoration: none !important;
		/*color: black !important;*/
	}


.link-no-decor {
	color: #7A7A7A;
}

	.link-no-decor:hover {
		outline: none;
		text-decoration: none;
		color: black;
	}

.full-height {
	min-height: 100%;
	height: 100%;
	position:relative;
}

.content-area {
	min-height: 100%;
	height: 100%;
	padding-left:25px;
	padding-top:30px;
	padding-bottom:40px;
}



.main-row {
	margin-left: 0;
	margin-right: 0;
}

.fill {
	width: 100%;
	height: 100%;
	min-height: 100%;
	padding: 0px;
}

.nav-sidebar-link {
}

	.nav-sidebar-link :hover {
		outline: none;
		text-decoration: none;
		color: inherit;
	}

.subpost {
	font-size: 16px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
}



.round-anim {
	-moz-transition: border-radius 1s;
	-o-transition: border-radius 1s;
	-webkit-transition: border-radius 1s;
	transition: border-radius 1s;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	border-radius: 50%;
}

	.round-anim:hover {
		border-radius: 10%;
	}

.fixed{
	height:100%;
}

#menu-icon {

	display: none;
    padding-top:10px;

}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;
}

@media(min-width:600px){
	.content-area{
	 
	}
}

@media (min-width: 900px) {
	.fixed{
		position: fixed;
	}
    #menu-icon {
		display: none;
	}
}

@media only screen and (max-width : 900px) {

	#menu-icon {
		display: inline;
	}

	.fixed{
		display:none;
		height:0%;
	}

	.full-height{
		height:0%;
	}

    .fill{
        min-height:0%;
        height:auto;
        width:auto;
    }
}