{% extends 'base_cover_clean.html' %}

{% block title_block %}
<title>404</title>
{% endblock %}


{% block inner_body_block %}

<h1>404 ERROR </h1>
<br/>
<h3>
    a.k.a.
</h3>
<br/>
<h1>THIS DOESN'T EXIST...</h1>

{% endblock %}
