{% extends 'base_cover_clean.html' %}

{% block title_block %}
<title>500</title>
{% endblock %}

{% block inner_body_block %}

<h1>500 ERROR </h1>
<br/>
<h3>
    a.k.a.
</h3>
<br/>
<h1>SOMETHING IS BROKEN ...</h1>

{% endblock %}
