{% extends 'base_cover.html' %}
{% load static %}

{% block title_block %}
<title>About</title>
<meta name="description" content="About Marko Devcic">
{% endblock %}

{% block inner_body_block %}
{% load static %}

<h1>About</h1>

<div class="row">
    <h3>{self}</h3>

    <p>
        I'm a software developer from Croatia, currently living in Innsbruck, Austria.
    </p>

    <p>
        I've been helplessly hooked on coding ever since I wrote my first Excel macro in VBA.
    </p>

    <p>
        Nowdays, my language of choice is C#, but I also dable in Python and Java.
    </p>

    <p>
        When I'm not coding, I'm riding my mountain bike, if it is summer or skiing, if it is winter.
    </p>
</div>

<div class="row" style="padding:40px">

    <div class="col-sm-3 col-sm-offset-1">
        <img src="{% static 'md.jpg' %}" class="round-anim img-responsive"
             style="height:185px; width:185px; border:5px solid gray;"/>
    </div>

</div>


<div class="row">


    <h3>{this}</h3>

    <p>
        This site is built using Python, Django, SQLite and Bootstrap, coded in PyCharm on Ubuntu.
    </p>

    <p>
        Browse the source code <a href="https://bitbucket.org/deva666/home-page/src/">here</a>.
    </p>

    <p>
        Hosted on <a href="https://www.openshift.com/">OpenShift</a>.
    </p>

</div>


{% endblock %}
