{% extends 'base.html' %}
{% load static %}

{% block body_block %}

<div class="container-fluid ">
    <div class="row main-row fill">
        <div class="col-sm-3 col-md-3 col-lg-2 full-height ">
            <div class="fixed">
                {% include 'nav_sidebar.html' %}
            </div>
            <div class="center-block">
                <ul class="list-inline" id="menu-icon">
                    <li><a href="/">MD</a></li>
                    <li style=" margin-left: 20px;"><a href="/blog/">Blog</a></li>
                    <li><a href="/projects/">Projects</a></li>
                    <li><a href="/about/">About</a></li>
                </ul>                
            </div>
        </div>

        <div class="col-sm-9 col-md-8 col-lg-7 content-area ">
            {% block inner_body_block%}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
