{% extends 'base.html' %}
{% load static %}

{% block head_block %}
<link href="{% static 'css/cover.css' %}" rel="stylesheet" media="screen"/>
{% endblock %}

{% block body_block %}
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">


            {% block inner_body_block%}
            {% endblock %}


        </div>
    </div>
</div>
{% endblock %}
