﻿<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% block title_block %}
    {% endblock %}
    <meta name="author" content="Marko Devcic">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Signika:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen"/>
    <link href="{% static 'css/material.css' %}" rel="stylesheet" media="screen"/>
    <link rel="shortcut icon" href="{% static 'md_logo.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'md_logo.jpeg' %}">
    <script src="{% static 'js/jquery-2.1.1.min.js' %}" type="text/javascript"></script>
    {% block head_block %}
    {% endblock %}
</head>
<body>
{% block body_block%}
{% endblock %}
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-53666275-1', 'auto');
  ga('send', 'pageview');

</script>
{% block scripts_block%}
{% endblock %}
</body>
</html>
