{% extends 'base_cover.html' %}
{% load static %}

{% block title_block %}
<title>Blog</title>
<meta name="description" content="Marko Devcic's Blog">
{% endblock %}

{% block inner_body_block %}

{% if category %}
<h1>Category {{category.title}}</h1>
{% elif date %}
<h1>Posts in {{date}}</h1>
{% else %}

<h1 style="margin-bottom:30px;">Blog</h1>

{% endif %}

{% for p in posts %}
<div class="row">
    <div class="blog-post">
        <h4><a href="/post/{{p.url}}">{{p.title}}</a></h4>
        <h5 style="margin-top:0px">
            <small> {{p.created}}</small>
        </h5>

        <ul class="list-inline">
            {% for cat in p.categories.all %}
            <li><a class="link-no-decor" href="/blog/category/{{ cat.id }}">{{cat.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}


<div style="margin-top:20px;" class="col-sm-4">
    <ul class="list-inline pager ">
        {% if top < posts_count and not category and not date %}
        <li class="previous"><a href="/blog/?datapage={{page|add:1}}" data-page="{{page|add:1}}">&#8592; Older</a></li>
       {% elif top >= posts_count and not category and not date %}
        <li class="previous disabled"><a href="#">&#8592; Older</a></li>
        {% endif %}

        {% if page > 1 and not category and not date %}
        <li class="next"><a href="/blog/?datapage={{page|add:-1}}" data-page="{{page|add:-1}}">Newer &#8594; </a></li>
       {% elif page <= 1 and not category and not date %}
        <li class="next disabled"><a href="#" data-page="{{page|add:-1}}">Newer &#8594;</a></li>
        {% endif %}

    </ul>
</div>


{% endblock %}
