﻿{% extends 'base_standard.html' %}
{% load static %}
{% block title_block %}
<title>Blog</title>
{% endblock %}
{% block inner_body_block %}
<div class="blog-header" style="margin-top:20px">
    <div class="jumbotron">
        <h1>Categories</h1>
    </div>
</div>

<div class="row">
    {% for c in categories %}
    <div class="col-sm-8">
        <a href="/blog/category/{{c.id}}"><h3>{{c.title}}</h3></a>

        <div>
            {% for p in c.posts %}
            {{p.title}}
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-4">
        <h4>{{c.post_count}}</h4>
    </div>
    {% endfor %}
</div>

{% endblock %}