﻿
    <div>
        <h3><a href="/" class="link-no-decor">marko devcic</a></h3>
    </div>
<div class="first-quarter text-center">
<div class="row">
    <h4>
        <a href="/blog/" class="nav-sidebar-link link-no-decor">blog</a>
    </h4>
</div>
<div class="row">
    <h4>
      <a href="/projects/" class="nav-sidebar-link link-no-decor">projects</a>  
    </h4>
</div>
<div class="row">
    <h4>
      <a href="/about/" class="nav-sidebar-link link-no-decor">about</a>  
    </h4>
</div>
</div>

    <div class="bottom">
        <ul>
            <li>bitbucket: <br /> <a href="https://bitbucket.org/deva666">deva666</a> </li>
            <li>email: <br />
            <a href="mailto:madevcic@gmail.com">madevcic@gmail.com</a> </li>
        </ul>
    </div>
