﻿{% load static %}

    {% block title_block %}
        <title>{{post.title}}</title> 
    {% endblock %}

<div class="blog-header">
    <h2 class="blog-title"> {{post.title}} </h2>
    <h4>
        <small>Posted on {{post.created}}</small>
    </h4>
</div>
<div class="row" >
    <div class="col-sm-6">
    <ul class="list-inline pager pull-left">
        {% for cat in post.categories.all %}
        <li><a  href="/blog/category/{{ cat.id }}">{{cat.title}}</a></li>
        {% endfor %}
    </ul>
        </div>
    <div class="col-sm-6">
        <ul class="list-inline  pull-right pager">
            {% if post.prev %}
    <li class="previous">        <a href="/post/{{ post.prev }}">Previous</a>    </li>
            {% else %}
            <li class="previous disabled"><a href="#">Previous</a>    </li>
            {% endif %}
            {% if post.next %}
            <li  class="next"><a href="/post/{{ post.next }}">Next</a></li> 
            {% else %}
            <li class="next disabled"><a href="#" >Next</a></li>   
            {% endif %}
</ul>
    </div>  
</div>
<div class="row">
        <div class="col-sm-12" id="main-content">
        <div>
            <div id="post-text">
                {{post.text|safe}}
            </div>
        </div>
    </div>

    
</div>

<div class="row" style="padding-bottom:20px;">
    <div class="col-sm-3 col-sm-offset-7 text-right">
       <ul class="list-inline pager pull-right">
            <li>   <a data-internal="true" href="#" id="to-top">To the top</a></li>
        </ul>    
    </div>
</div>

{% block scripts_block %}

<script type="text/javascript">
    $(document).ready(function () {
        $('#to-top').click(function (event) {
            event.preventDefault();
            $('body, html').animate({ scrollTop: '0' }, 1000);
            $('#to-top').blur();
        });
    });
</script>

{% endblock %}