{% extends 'base_cover.html' %}
{% load static %}

{% block title_block %}
<title>Projects</title>
<meta name="description" content="Marko Devcic's work">
{% endblock %}

{% block inner_body_block %}

<h1>Projects</h1>

{% for p in projects %}

<div class="row" style="padding-top:15px;">

    <div><h3>
        {{p.name}}</h3>
    </div>
    <div>
        <ul class="list-inline" style="margin-top:-20px;margin-left:20px;">
            {% for platform in p.platform_list %}
            <li>
                <h4>
                    <small><i class="fa fa-{{platform}}">&nbsp; </i></small>
                </h4>
            </li>
            {% endfor %}
            {% if p.source_code %}
            <li>
                <h4>
                    <small><i class="fa fa-git"></i></small>
                </h4>
            </li>
            {% endif %}
        </ul>
    </div>
    <p>
        {{p.description|safe}}
    </p>

</div>
{% endfor %}

<div style="height:50px;">

</div>
{% endblock %}
